		.foot_bottom_bot{
	float: left;
	width: 100%;
	height: 100px;
	margin-top:500px;
}
.foot_bottom_bot2{
	float: left;
	width: 15%;
	height: 75px;
	margin-top:30px;
	margin-left: 150px;
}
.foot_font{
	float:left;
	margin-left:38%;
}
.foot_mid_font1{
	float: left;
    margin-left: 28%;
}

.banquan{
	float:left;
	width:100%;
	height:50px;
	margin-top:10px;
}

.banquan_ying{
	float:left;
	margin-left:35%;
}

.banquan_wen{
	float:left;
	margin-left:35%;
}















