.foot_bottom_bot{
	float: left;
	width: 100%;
	height: 100px;
	margin-top:0px;
}
.foot_bottom_bot2{
	float: left;
	width: 15%;
	height: 75px;
	margin-top:30px;
	margin-left: 150px;
}
.foot_font{
	float:left;
	margin-left:38%;
}
.foot_mid_font1{
	float: left;
    margin-left: 28%;
}

.body_head{
	float:left;
	width:100%;
	height:1350px;
}

.body_head_images{
	float:left;
	width:100%;
	height:350px;
}

.body_head_1{
	float:left;
	width:100%;
	height:300px;
	margin-top:20px;
}

.body_head_01{
	float:left;
	width:100%;
	height:240px;
	width:23%;
	margin-left:20px;
}

.body_head_images_01{
	float:left;
	width:100%;
	height:240px;
}

.body_head_02{
	float:left;
	width:100%;
	height:240px;
	width:23%;
	margin-left:20px;
}

.body_head_images_02{
	float:left;
	width:100%;
	height:240px;
}

.body_head_03{
	float:left;
	width:100%;
	height:240px;
	width:23%;
	margin-left:20px;
}

.body_head_images_03{
	float:left;
	width:100%;
	height:240px;
}
.body_head_04{
	float:left;
	width:100%;
	height:240px;
	width:23%;
	margin-left:20px;
}

.body_head_images_04{
	float:left;
	width:100%;
	height:240px;
}

.body_head_wen_zi_1{
	float:left;
	width:100%;
	height:45px;
	width:23%;
	margin-left:20px;
	margin-top:10px;
}

.body_head_wen_zi_01{
	float:left;
	font-size:14px;
	margin-top:10px;
	transition:all 1s linear;
}

.body_head_wen_zi_01:hover{
	color:#87CEEB
}

.body_head_wen_zi_2{
	float:left;
	width:100%;
	height:45px;
	width:23%;
	margin-left:20px;
	margin-top:10px;
}

.body_head_wen_zi_02{
	float:left;
	font-size:14px;
	margin-top:10px;
	margin-left:5px;
	transition:all 1s linear;
}

.body_head_wen_zi_02:hover{
	color:#FF6347;
}


.body_head_wen_zi_3{
	float:left;
	width:100%;
	height:45px;
	width:23%;
	margin-left:20px;
	margin-top:10px;
}

.body_head_wen_zi_03{
	float:left;
	font-size:14px;
	margin-top:10px;
	margin-left:10px;
	transition:all 1s linear;
}

.body_head_wen_zi_03:hover{
	color:#FA8072;
}

.body_head_wen_zi_4{
	float:left;
	width:100%;
	height:45px;
	width:23%;
	margin-left:20px;
	margin-top:10px;
}

.body_head_wen_zi_04{
	float:left;
	font-size:14px;
	margin-top:10px;
	margin-left:10px;
	transition:all 1s linear;
}

.body_head_wen_zi_04:hover{
	color:#6A5ACD;
}

.body_mid{
	float:left;
	width:100%;
	height:600px;
	margin-top:20px;
}

.body_mid_left{
	float:left;
	width:50%;
	height:600px;
}

.body_mid_left_images1{
	float:left;
	width:100%;
	height:600px;
}

.body_mid_right{
	float:left;
	width:50%;
	height:300px;
}

.body_mid_right_images2{
	float:left;
	width:48%;
	height:250px;
	margin-left:8px;
}

.body_mid_left_images2_02{
	float:left;
	width:100%;
	height:250px;
}

.body_mid_right_images3{
	float:left;
	width:48%;
	margin-left:8px;
	height:250px;
}

.body_mid_left_images2_03{
	float:left;
	width:100%;
	height:250px;
}

.body_right_1{
	float:left;
	width:48%;
	height:40px;
	margin-top:5px;
	margin-left:8px;
}

.body_right_01{
	float:left;
	margin-top:8px;
	margin-left:30px;
	transition:all 1s linear;
}

.body_right_01:hover{
	color:pink;
}

.body_right_2{
	float:left;
	width:48%;
	height:40px;
	margin-top:5px;
	margin-left:8px;
}

.body_right_02{
	float:left;
	margin-top:8px;
	margin-left:40px;
	transition:all 1s linear;
}

.body_right_02:hover{
	color:#6495ED;
}

.body_right_bot{
	float:left;
	width:50%;
	height:300px;
}

.body_right_bot1{
	float:left;
	width:48%;
	height:250px;
	margin-left:8px;
}

.body_right_bot1_01{
	float:left;
	width:100%;
	height:250px;
}

.body_right_bot2{
	float:left;
	width:48%;
	height:250px;
	margin-left:8px;
}

.body_right_bot2_02{
	float:left;
	width:100%;
	height:250px;
}

.body_right_bot3{
	float:left;
	width:48%;
	height:40px;
	margin-top:5px;
	margin-left:8px;
}

.body_right_bot3_03{
	float:left;
	margin-top:8px;
	margin-left:30px;
	transition:all 1s linear;
}

.body_right_bot3_03:hover{
	color:#DC143C;
}

.body_right_bot4{
	float:left;
	width:48%;
	height:40px;
	margin-top:5px;
	margin-left:8px;
}

.body_right_bot4_04{
	float:left;
	margin-top:8px;
	margin-left:30px;
	transition:all 1s linear;
}

.body_right_bot4_04:hover{
	color:#6495ED;
}


.img_hover{
	transition:width 2s;
	-moz-transition:width 2s; 
	-webkit-transition:width 2s; 
	-o-transition:width 2s; 
}
.img_hover:hover{
	width:250px;
}



